#{extends 'desktop/templates/main.html' /}
#{set title:'bloomfilter' /}
<div class="content">
    <div class="row">
        <div class="span14">

            <h2>Login</h2>

            <form action="@{Secure.authenticate}" method="post">
                <fieldset>

                    #{if flash.error}
                    <div class="clearfix">
                        <div class="input alert-message error span5" style="margin-bottom: 0;">
                            &{flash.error}
                        </div>
                    </div>
                    #{/if}

                    <div class="clearfix#{ifError 'username'} error#{/ifError}" id="usernameContainer">
                        <label for="username">Username</label>
                        <div class="input">
                            <input class="span4" id="username" name="username" size="30" type="text" value="${flash.username}">
                            <span class="help-inline" id="validateUsernameMessage">#{error 'username'/}</span>
                        </div>
                    </div>
                    <div class="clearfix#{ifError 'password'} error#{/ifError}" id="passwordContainer">
                        <label for="password">Password</label>
                        <div class="input">
                            <input class="span4" id="password" name="password" size="30" type="password" value="${flash.password}">
                            <span class="help-inline" id="validatePasswordMessage">#{error 'password'/}</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <input type="checkbox" name="remember" id="remember" value="true" checked="checked" ${flash.remember ? 'checked="true"' : ''}>&nbsp; Remember me</input>
                        </div>
                    </div>

                    <div class="actions">
                        <input type="submit" id="signin" class="btn primary" value="&{'secure.signin'}" />
                   </div>

                    <h3>Alternatively</h3>

                    <div class="input" style="margin-top: 20px">
                        #{twitterlogin /}
                    </div>
                    <div class="input" style="margin-top: 20px">
                        #{facebooklogin /}
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>