#{extends 'desktop/templates/main.html' /}
#{set title:'bloomfilter' /}
<div class="content">
    <div class="row">
        <div class="span14">

            <h2>Register</h2>

            <form action="@{desktop.Application.registerUser}" method="post">
                <fieldset>
                    <div class="clearfix#{ifError 'username'} error#{/ifError}" id="usernameContainer">
                        <label for="username">Username</label>
                        <div class="input">
                            <input class="span4" id="username" name="username" size="30" type="text" value="${flash.username}">
                            <span class="help-inline" id="validateUsernameMessage">#{error 'username'/}</span>
                        </div>
                    </div>
                    <div class="clearfix#{ifError 'password'} error#{/ifError}" id="passwordContainer">
                        <label for="password">Password</label>
                        <div class="input">
                            <input class="span4" id="password" name="password" size="30" type="password" value="${flash.password}">
                            <span class="help-inline" id="validatePasswordMessage">#{error 'password'/}</span>
                        </div>
                    </div>
                    <div class="actions">
                        <input type="submit" class="btn primary" value="Register">
                   </div>

                    <h3>Alternatively</h3>

                    <div class="input" style="margin-top: 20px">
                        #{twitterlogin /}
                    </div>
                    <div class="input" style="margin-top: 20px">
                        #{facebooklogin /}
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>



<script type="text/javascript" language="JavaScript">

$(document).ready(function(){
    var request = 0;
    var validateUsernameMessage = $('#validateUsernameMessage');

    $('#username').keyup(function () {
        if (this.value.length > 0) {
            $('#validateUsernameMessage').html("");
            $('#usernameContainer').removeClass("error");
        }
        else {
            $('#validateUsernameMessage').html("Required");
            $('#usernameContainer').addClass("error");
        }
    });

    $('#username').keyup(function () {
      var t = this;
      if (this.value.length < 2) return;
      if (this.value != this.lastValue) {
        if (this.timer) clearTimeout(this.timer);
        request++;
        this.timer = setTimeout(function () {
          var req = request;
          $.ajax({
            url: '/api/users/validateusername?username=' + t.value,
            dataType: 'json',
            type: 'get',
            success: function (j) {
                if (req == request) {
                    validateUsernameMessage.html(j.response.message);
                    if (j.response.valid) {
                        $('#usernameContainer').removeClass("error");
                        $('#usernameContainer').addClass("success");
                    }
                    else {
                        $('#usernameContainer').addClass("error");
                        $('#usernameContainer').removeClass("success");
                    }
                }
              // validateUsername.html(j.msg);
            }
          });
        }, 350);
        this.lastValue = this.value;
      }
    });


});

</script>