/* Override some defaults */
html, body {
    background-color: #eee;
}
body {
    padding:0;
    margin:0;
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.topbar .btn {
    border: 0;
}

.logged-in-user-button {
	vertical-align:middle;
}

.important-text {
    color:#373142;
}

footer {
    margin-top: 0;
}

.logged-in-user-button span {
}

.logged-in-user-button img {
	margin-top:-5px;
	margin-right:3px;
	width: 16px;
	height: 16px;
	border: solid 1px #a0a0a0;
	vertical-align:middle;
}

a.facebook-login-button {
	background: url('/public/desktop/images/facebook_signin.png') 0 0 no-repeat;
	display: block;
	height: 22px;
	text-indent: -9999px;
	width: 150px;
}
a:hover.facebook-login-button {background: url('/public/desktop/images/facebook_signin.png') 0 -24px no-repeat;}
a:active.facebook-login-button {background: url('/public/desktop/images/facebook_signin.png') 0 -48px no-repeat;}

.actions {
    margin-left: -20px;
    margin-right: -20px;
}
/* Topbar special styles
-------------------------------------------------- */
.topbar-wrapper {
  position: relative;
  height: 30px;
  xmargin: 5px 0 15px;
}
.topbar-wrapper .topbar {
  position: absolute;
  margin: 0 -20px;
}
.topbar-wrapper .topbar .topbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#top-nav {
    padding: 0;
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 36px;
}

.login {
    float: right;
    height: 32px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
}

.logo h1 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.logo a,
.logo a:hover,
.logo a:active,
.logo a:visited,
{
    color: black;
}

.logo img {
    float: left;
    padding-right: 6px;
}

.actions {
    padding-left: 170px;
}
/* Home styles */

h2 {
    font-size: 18px;
}

.topbar,
.topbar-inner,
.topbar-wrapper,
{
    height: 6px;
}

.topbar-inner {
    background: #606060;
}

/*
h2 {
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    padding-left: 15px;
    background: #f0f0f0;
}
*/

.article-list {
    margin-left: 10px;
}

.article-list h2 {
    font-size: 18px;
    margin-left: -10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.article {
    margin-bottom: 10px;
}

.article h3 {
    padding: 0;
    margin: 0;
    line-height: 18px;
    font-size: 18px;
}

.article h3 a {
    padding: 0;
    margin: 0;
}

h3 .domain {
    font-size: 0.7em;
    color: #a0a0a0;
}

.article .detail {
    padding: 0;
    margin: 0;
    color: #404040;
}

.viewpost {
    background: #ffffe0;
    margin-left: -20px;
    margin-top: -4px;
    margin-right: -20px;
    padding: 15px;
}

.viewuser {
    background: #ffffe0;
    margin-left: -20px;
    margin-top: -4px;
    margin-right: -20px;
    padding: 15px;
    height: 36px;
    margin-bottom: 16px;
}

.viewuser h2 {
    margin:0;
    padding:0;
    line-height: 28px;
}

.viewuser div {
    margin-left: 74px;
}

.viewuser img {
    float:left;
    margin-top: -15px;
    width: 66px;
    height: 66px;
}

.userdetails {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 70px;
}

.userdetails .number {
    background: #c0c0c0;
    font-weight: bold;
    font-size: 24px;
    padding: 7px;
    -webkit-border-radius: 4px 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}

.searchbox {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -6px;
    display: none;
}

.pagenav {
    border-top: solid 1px #e0e0e0;
    padding-top: 8px;
}

.pagenav a {
    color: #808080;
}

fieldset {
    padding-top: 0;
}

.comment {
    padding: 5px;
}

.comment p {
    padding: 0;
    margin: 0;
}

.comment.preview {
    border: solid 1px #e0e0e0;
}

.comment .text {
    padding: 0;
    margin: 0;
}

.comment .info {
    color: #c0c0c0;
    padding: 0;
    margin: 0;
}

.comment .info a {
    color: #c0c0c0;
    font-weight: bold;
}

.preview-header {
    font-weight: bold;
    padding-bottom: 8px;
    color: #808080;
}

#postbutton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar {
    padding: 0;
    margin:0;
    padding-top: 10px;
    margin-right: -20px;
    width: 120px;
}

.sidebar .btn {
    width: 80px;
    text-align: center;
}

.pagination {
    padding-left: 10px
}

.input p {
    padding-top: 6px;
}
/*** markdown ***/
.wmd-button-row
{
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;
	height: 20px;
}

.wmd-spacer
{
	width: 1px;
	height: 20px;
	margin-left: 14px;

	position: absolute;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/public/desktop/images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#wmd-button-bar {
    padding-left: 142px;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}