#{extends 'desktop/templates/main.html' /}
#{set title:'bloomfilter' /}
<div class="content">
    <div class="row">

        <div class="span12">

            <div class="article-list">
                %{
                String date = "";
                }%
                #{list items:posts, as:'post'}
                %{
                java.text.SimpleDateFormat format = new java.text.SimpleDateFormat("MMMM d");
                String curDate = format.format(post.date_created);
                if (!curDate.equals(date)) {
                    date = curDate;
                    }%
                    <h2>${date}</h2>
                    %{
                }
                }%
                <div class="article">
                    <h3><a href="${post.link}">${post.title}</a> <span class="domain">(${post.domain})</span></h3>
                    <span class="detail">posted by <a href="/users/${post.author.id}">${post.author.username}</a> ${post.friendlyPostDate} | <a href="${post.permaLink}">${post.numComments} comments</a></span>
                </div>
                #{/list}
            </div>

            *{<div class="pagination">}*
              *{<ul>}*
                *{<li class="prev disabled"><a href="#">&larr; Previous</a></li>}*
                *{<li class="active"><a href="#">1</a></li>}*
                *{<li><a href="#">2</a></li>}*
                *{<li><a href="#">3</a></li>}*
                *{<li><a href="#">4</a></li>}*
                *{<li><a href="#">5</a></li>}*
                *{<li class="next"><a href="#">Next &rarr;</a></li>}*
              *{</ul>}*
            *{</div>}*

            #{if prev_page >= 0 || next_page >= 0}
            <div class="pagenav">
                #{if prev_page >= 0}
                <span>
                    <a href="/?start=${prev_page}">&lt; Newer Posts</a>
                </span>
                #{if next_page >= 0}
                <span>|</span>
                #{/if}
                #{/if}
                #{if next_page >= 0}
                <span>
                    <a href="/?start=${next_page}">Older Posts &gt;</a>
                </span>
                #{/if}
            </div>
            #{/if}
        </div>

        <div class="span2 sidebar">
            <input type="text" class="searchbox"/>
            <div class="clearfix">
                #{if session.username}
                <a href="@{desktop.Post.newPost}" class="btn">New Post</a>
                #{/if}
            </div>
        </div>

    </div>
</div>