#{extends 'desktop/templates/main.html' /}
#{set title:'bloomfilter' /}
<div class="content">
    <div class="row">
        <div class="span14">

        <div class="span14">

            <div style="margin-top: 20px">
                <a class="facebook-login-button" href="#" onclick="facebookLogin();return false;">Login with Facebook</a>
            </div>
            <div style="margin-top: 20px">
                <a href="@{desktop.Application.twitterLogin}"><img src="/public/desktop/images/sign-in-with-twitter.png"/></a>
            </div>

        </div>
        </div>
    </div>
</div>